/* DC.com 핵심공통 CSS - core.css */
@font-face{
    font-family: NG1;
    src: url(../../static/NEXONLv1GothicRegular.ttf) format("ttf") ;
}

/* Ubuntu체 */
@font-face {
    font-family: UB;
    src: url(../../static/UbuntuCondensed-Regular.woff) format("woff");
  }
  