/* DC.com 핵심공통 CSS - core.css */
@font-face{
    font-family: NS;
    src: url(../../static/NotoSansKR-Regular.ttf) format("ttf");
}

/* Ubuntu체 */
@font-face {
    font-family: UB;
    src: url(../../static/UbuntuCondensed-Regular.woff) format("woff");
  }
  