/* DC.com 핵심공통 CSS - core.css */
@font-face{
    font-family: "NEXONLv2Gothic";
    src: url(../../static/NEXONLv2Gothic.ttf) format("truetype") ;
}

/* Ubuntu체 */
@font-face {
    font-family: UB;
    src: url(../../static/UbuntuCondensed-Regular.woff) format("woff");
  }
  