@charset "utf-8";

/* PIC J : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

body{
    /* padding-top: 80px; */
    background: #a3a3a3;
    
}

 

/* 배경 동영상 */
.bg-video{
    /* display: block; */
    position: absolute;
    z-index: -1;
   
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%); 
    min-width: 1360px;
    
    /* 
    height: 1040px;
    margin: 0 auto;
    overflow : hidden;
    top: 0;*/
}



/************* 1. 상단영역 *************/

.top-area{
    position: relative;

}
/****************** 1-1. 메인로고 ********************/
.logo-part{
    padding-top: 3.2%;
}
.main-logo{
    display: flex; 
   
    justify-content: center;

}
/******************* 1-2. 네비파트  *******************/
/* Top 메뉴 */
.top-menu{
    position: absolute;
    top: 1%;
    right: 5%;
}
.top-menu ul {
    
    display: flex;
    justify-content: flex-end;

}
/* Top 리스트 */
.top-menu ul li {
    padding: 0 10px;
}
.top-menu ul a {
    font-size: 1.4rem;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
}


.nav-part{
    padding-top: 3.5%;
}
/* gnb박스 */
.gnb{

    display: flex;
    height: 30px;
    overflow: hidden;
    /* GNB 전체 중앙정렬 */
    text-align: center;
    /* 트랜지션 : 속시이지 */
    transition: all 0.6s ease-in-out;

    /* 글자 줄바꿈방지 */
    white-space: nowrap;
    
}
#top-area:hover .gnb{
    height: 200px;
   
}
#top-area{
   position: absolute;
    /* position: relative; */
    
    width: 100%;
   
    /* background: url(../images/wave.png) repeat-x center 105% / 35%; */
    background: url(../images/wave.png) repeat-x / cover;
    background-size: 35% 100%;

    /* 트랜지션 : 속시이지 */
    transition: all 0.6s ease-in-out;


    
}

/* 상단영역 오버시 파도  */
#top-area:hover{   
    background:url(../images/wave.png) repeat-x center -301% / cover;
    background-size: 35% 100%;
}



/* 메뉴 박스 dl */
.gnb dl{
    padding: 0 10px;
}
/* 상위메뉴 dt */
.gnb dt{
    line-height: 1.5;
}

/* gnb 텍스트 세팅 */
.gnb dl a{
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 2px #000;
    font-weight: bold;

}





/* 상단영역 오버시 하위메뉴 보이기 */
#nav-area:hover .gnb{
    height: 500px;    
    
}
#nav-area:hover .gnb{
    background-color: #212C92;
}




/************ 2. 메인영역 ************/

.txt-banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 2px dashed yellow;

    /* 글자설정 */
    font-size: 5vw;
    color: #fff;
    white-space: nowrap;

}
/* 글자개별박스 셋팅 */
.txt-banner span{
    /* 트랜스폼 적용위해 */
    display: block;
}

/* 하단 메뉴이동 블릿 */
.indic-box{
    display: block;
    position: absolute;
    

    /* 글자설정*/
    font-size: 2vw;
    white-space: nowrap;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}
.indic-box ol{
    display: flex;
    gap: 0 10rem;
}
.indic-box ol ul a{
    color: #fff;
}

/********************* PIC소개 영역 *********************/

/* 소개 영역 제목 */
#intro-pic-area{
    padding-top: 5%;
    background-color: #fff;
}
#intro-pic-area .title-box{
    position: relative;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: darkblue;
    margin: 0 auto;
    width: 100%;
    /* padding-top: 50px; */
}


/* 소개영역 컨텐츠 */

/* 인트로박스 */
#intro-pic-area .introbox{

   position: relative;
   padding-top: 10vw;
   
}
#intro-pic-area .introbox ul{
    margin-left: 7vw;
    text-align: center;
}
#intro-pic-area .introbox li{
   display: flex;
}

#intro-pic-area .intro-images{
    position: relative;
    width: 409px;
    height: 500px;
    margin: 0 76px 0 105px;
    /* display: flex; */

    vertical-align: middle;
}
#intro-pic-area .intro-images img{
    position: absolute;
   display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

#intro-pic-area h3{
     position: relative;
    display: block;
    font-size: 9rem;
    white-space: nowrap;
    color: darkblue;
}
#intro-pic-area p{
    
    padding-top: 1vw;
    margin-top: 2vw;
    margin-left: 2vw;
    display: block;
    line-height: 1.8;

    font-size: 2rem;
}
/* 소개 텍스트 박스 */
#intro-pic-area .intro-txt-box{
    position: absolute;
    width: 500px;
}
/* 스크롤 글자 */
/* .scroll-txt{
    padding-top: 15rem;
    padding-bottom: 5rem;
} */
.introbox em{
    font-size: 20rem;
    font-style: normal;
    font-weight: bold;
    color: #212C92;
}




/**************** 4. 마스코트 소개영역 ****************/

#masco-area{
    background: #212C92;
    position: relative;
}

/* 상단 파도1 */
#masco-area::before {
    content: '';
    width: 300vw;
    display: block;
    position: relative;
    top: -6.3vw;
    left: -15%;
    background: transparent url(../images/siheky_wave.svg) repeat-x top left;
    animation: footerwave 7s linear infinite;
    background-size: 100vw 100%;
    height: 6.4vw;
    
}

@keyframes footerwave {
    0%{transform: translate(-10% , 0%)}
	50%{transform: translate(-5% , 0%)}
	100%{transform: translate(-10% , 0%)}
}

.masco-txt{
    /* position: absolute; */
    
}

.masco-tit-txt{
    position: absolute;
    display: block;
    top: 30%;
    left: 20%;
}
.masco-intro-txt{
    position: absolute;
    display: block;
    top: 60%;
    left: 70%;
}
.masco-txt h3{
    font-size: 8.5rem;
    font-weight: bold;
    color: #fff;
}
.masco-txt p{
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
  
}
.masco-img{
    position: absolute;
    display: block;
    /* width: 100%;
    height: 100%; */
    left: 40%;
    top: 30%;
    
}
/* 마스코트영역 물방울, 물고기 애니메이션 */
.ani-box img{
    position: absolute;
    margin: 0 auto;
    padding: 0;   
    /* 애니메이션 적용 */
    animation: fish-bub-ani 5s ease-in-out infinite alternate;
}
/* 물고기 위치 */
.fish1{
    position: absolute;
    top: 35%;
    left: 35%;
}
.fish2{
    position: absolute;
    top: 60%;
    left: 60%;
}
.fish3{
    position: absolute;
    top: 20%;
    left: 50%;
}
/* 물방울 위치 */
.bubble1{
    position: absolute;
    top: 70%;
    left: 30%;
}
.bubble2{
    position: absolute;
    top: 15%;
    left: 30%;
}
.bubble3{
    position: absolute;
    top: 55%;
    left: 70%;
}
.bubble4{
    position: absolute;
    top: 80%;
    left: 10%;
}
.bubble5{
    position: absolute;
    top: 10%;
    left: 70%;
}
.ani-box{
    
}

/* 위아래 반복 애니메이션 */
@keyframes fish-bub-ani {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(1vw);
    }
    100%{
        transform: translateY(0);
    }
}

/************************************** 영상관 **************************************/
#video-area{
    background-color: #fff;
}
#video-area .video-list-box{
   
   padding-top: 5vw;
}
#video-area h3{
    font-size: 8rem;
    display: flex;
    /* 글자 줄바꿈방지 */
    white-space: nowrap;
}
#video-area ul{
    display: flex; 
    padding-left: 3vw;

}
#video-area ul li {
    padding: 0.5vw;
}
#video-area ul li img{
    height: 270px;
    width: 480px; 
}
.list-guam{
    position: relative;
    left: -30vw;
    animation: guam-ani 20s linear infinite alternate;
    padding-bottom: 5vw;
}
.list-saipan{
    position: relative;
    animation: saipan-ani 20s linear infinite alternate;
}

/* 애니메이션 guam 좌->우->좌 */
@keyframes guam-ani {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(30vw);
    }
    100%{
        transform: translateX(0);
    } 
}
/* 애니메이션 Saipan 우 좌 우*/
@keyframes saipan-ani {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-30vw);
    }
    100%{
        transform: translateX(0);
    } 
}

/************* 3. 하단영역 *************/

#footer-area{
    background: #212C92;
    position: relative;
}

#footer-area::before {
    content: '';
    width: 300vw;
    display: block;
    position: relative;
    top: -6.3vw;
    left: -15%;
    background: transparent url(../images/siheky_wave.svg) repeat-x top left;
    animation: footerwave 7s linear infinite;
    background-size: 100vw 100%;
    height: 6.4vw;
    
}

/* #footer-area .wave {
    display: block;
    top: -100px;
    position: absolute;
    width: 100%;
    overflow: hidden;

}
#footer-area .wave .footer_wave {
    width: 100%;
    height: 105px;
    overflow: hidden;
}
#footer-area .wave .footer_wave .parallax {
    width: 100%;
    height: 100px;
}
#footer-area .parallax > use:nth-child(1) {
    opacity: 0.3;
}
#footer-area .parallax > use:nth-child(2) {
    animation-delay: -1s;
    animation-duration: 6s;
}
#footer-area .parallax > use {
    animation: move-forever 6s linear infinite;
}

@keyframes move-forever{
	0%{transform: translate(90px , 0%)}
	100%{transform: translate(-85px , 0%)}
}
@keyframes move-forever2{
	0%{transform: translate(-90px , 0%)}
	100%{transform: translate(85px , 0%)}
} */


.footer-txt-box {
   /* position: absolute; */
   display: block;
   top: 30%;
   left:5%;
   /* text-align: left; */
}

.footer-txt-box ul {
    display: flex;
}
.footer-txt-box li:nth-child(2)::before{
    content: '|';
    color: #fff;
    font-size: 1.5rem;
    padding-left: .5rem;
}

.footer-txt-box ul li a{
    color: #fff;
    font-size: 1.5rem;
    white-space: nowrap;
}
.footer-txt-box p{
    color: #fff;
    font-size: 1.5rem;
    white-space: nowrap;
}
.footer-txt-box p:last-child{
    color: #a3a3a3;
    font-size: 1.5rem;
    
}

.footer-icon-box{
    position: relative;
    display: block;
    top: 30%;
    left: 28%;
}

.footer-icon {
    position: absolute;
    /* top: 30%;
    left: 78%; */
   
}
.footer-icon p{
    color: #a3a3a3;
    font-size: 1.5rem;
    white-space: nowrap;
}

