@charset "utf-8";

/* PIC J : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

body{
    background: #a3a3a3;
}
.weatherbox,
.weather-wrap{
    display: flex;

}


/************* 1. 상단영역 *************/

/***************** 1-1. 날씨정보 *****************/
.top-area dl {
    display: flex;
    margin-top: 10%;
    font-size: 2rem;
}
.button-wrap {
    /* display: flex; */
    margin-top: 5%;
}


/* 메인로고 */
.main-logo{
    display: flex; 
   margin-top: 20px;
    /* margin-left: 33%; */
    justify-content: center;
}

/***************** 1.5. 네비파트 *****************/
/* 바로가기 메뉴 */
.nav-area ul{
    display: flex;
    justify-content: center;
}
.nav-area ul li{
    
    padding: 0 2vw;
}
.nav-area ul li a{
     font-size: 3rem;
     
}








/************ 2. 메인영역 ************/

/************* 3. 하단영역 *************/