@charset "utf-8";

/* PIC J : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

/************* 1. 상단영역 *************/

/* 메인 뒷배경 영상 */
.bg-video{
    background: rgba(0, 0, 255, 0.733);
}

/* 날씨정보 */
.top-area dl {
    display: flex;
}

.main-logo{
    display: flex;
    margin-top: 20px;
    margin-left: 16%;
}

/* 다국어 예약파트 */
.lang-reserve ul{
    display: flex;
}




/************ 2. 메인영역 ************/

/************* 3. 하단영역 *************/