@charset "utf-8";
/* PIC PJ : 메인페이지 CSS - main.css */

/* 리셋, 코어, 커먼 공통 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);
@import url(./scroll.css);

/* 공사중 표시 */
body * {
    outline: 2px dashed #ccc;
}

body{
    overflow-x: hidden
}
/* 1. 상단영역  */
/* .top-area{


} */



/* 3. 비주얼영역 */
.visual-area{
    height: 930px;
}
/* . PIC소개영역 */
.intro-pic-area{
    height: 3600px;
}
 
/* 5. 마스코트 소개영역 */
.masco-area{
    height: 740px;
}
/* 6. 사진관 */
.video-area{
    height: 1100px;
    
}
/* 7. 하단영역 */
.footer-area{
    height: 200px;
}