@charset "utf-8";



body{
   
}
.res-area{
    height: 1000px;
    
}

.sub-bar>.menu-box{
    position: fixed;
    background: #212C92;
    border-bottom: none;
    /* top: 10%; */
    
    
}

/* 서브 페이지  */
.res-area{
    margin: 0 auto;
    width: 100%;
    max-width: 1180px;
    
    
}
/* 배경 */



/* 서브 페이지 제목*/
.s-title-box{
    position: relative;
    top: 15%;
    padding-top: 76px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 1010px;
}
.tit{
    font-size: 4rem;
    line-height: 50px;
    font-weight: 700;
    color: #212C92;
    
}
.s-title-box>p{
    margin-top: 2%;
    font-size: 2rem;
    line-height: 3rem;
    color: #666;
    display: block;
    font-weight: bold;

}

/* 서브 페이지 내용박스*/
