// 하단 영역 CSS

.info{
    // text-align: center;
    padding: 30px;
    background-color: #000;
    
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    background-color: #000;
    
    height: 100%;
}

.info>ul>li:last-child{
    font-weight: bold;
}

/* 하단 ol>li>a 링크박스 */
ol.bmenu{
   
    display: flex;
    // justify-content: center;
    margin: 15px 0;
}
.bmenu li{
    padding: 0 10px;
    font-size: 1.3rem;
    
}
.bmenu li + li{
    border-left: 2px solid #ffffffa2;
}
.bmenu a{
    position: relative;
    color: #ffffffa2;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
    white-space: nowrap;
}
.bmenu a::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    z-index:100;
    transition: width .3s ease-out;
}
.bmenu a:hover{
    color: #fff;
}
.bmenu a:hover::after{
    width: 100%;
}
.copyright{
    font-size: 1.2rem;
    padding-bottom: 10px;
    color: #ffffffa2;
}







.combo-box{
    display: flex;
    position: absolute;
    flex-direction: column;
    // align-items: flex-end;
    padding-right: 100px;
    // max-width: 300px;
    // right: 0;
    height: 100%;
    overflow: hidden;
    top: 0%;
    white-space: nowrap;
    z-index: 20;
    right: 20%;
}
.combo-box ul{
    justify-content: flex-start;
    position: absolute;
   
    display: flex;
    flex-direction: column;
    width: 248px;
    // bottom: 100%;
    padding: 8px 0;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;

    
    
    opacity: 1;
    a{
        display: block;
        color: #fff;
        text-decoration: none;
    }
   
}
.combo-box ul li{
    
    font-size: 1.5rem;
   
    
}