:root {
    --show-num: 4;
}
.ul > li {
    flex-basis: calc(100% / var(--show-num) - 20px);
}

.searchingBox {
    position: relative;
    margin-left: auto;
    .schbtn {
        position: absolute;
        z-index: 2;
        font-size: 15px;
        /* margin: 0 auto; */
        margin-top: 13px;
        margin-left: -22px;
        opacity: 0.5;
    }
}
.searchInput {
    display: flex;
    position: relative;
    // width: 15%;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d5d5d5;
    font-size: 1.2rem;
    outline: none;
    margin-left: auto;
    right: 25px;
    height: 30px;
}

.filter-box {
    display: flex;
    align-items: center;
}

// 게임리스트 전체박스
.gListSec {
    clear: both;
    position: relative;
    max-width: 1328px;
    padding-left: 24px;
    margin: 0 auto;
}
.gListSec > h2 {
    height: 40px;
    font-size: 3rem;
    padding-top: 20px;
}
.filter {
    position: relative;
    padding: 20px 30px 3px;
    margin: 29px 24px 20px 0;
    background-color: #fff;
}

// 게임리스트
.gArea {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
    list-style: none;
    padding: 40px 0;
}
.gBox {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    height: 300px;
    background-color: #fff;
    transition: all 0.15s linear;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.gBox:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.gBox:hover .gImg {
    scale: 1.2;
    transition: 0.3s linear;
}

.gListLink {
    text-decoration: none;
    color: #000;
}
.glist {
    margin: 0;
    padding: 0;
    list-style: none;
}
.gImg {
    position: relative;
    display: block;
    width: 302px;
    height: 200px;
    overflow: hidden;
    transition: 0.3s linear;
}
.gtxtBox {
    position: relative;
    display: block;

    width: 302px;
    height: 100%;
    z-index: 20;
    // overflow: hidden;
    background-color: #fff;
}
.gName {
    position: relative;
    display: block;
    width: 262px;
    padding-top: 10px;
    padding-right: 10px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 0px;
    word-wrap: break-word;
    font-size: 1.6rem;
    font-weight: bold;
}
.genre {
    display: block;
    width: 262px;
    height: 20px;
    margin: 0px auto;
    padding-right: 10px;
    color: #737881;
    letter-spacing: -0.3px;
    white-space: nowrap;

    text-overflow: ellipsis;
    font-size: 1.3rem;
    z-index: 1;
}
.platform {
    padding-right: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 20px;
    z-index: 1;
}

/* 북마크*/

.bookmarkSection {
    position: fixed;
    top: 0;
    right: -400px; /* 화면 밖 위치 */
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 1000;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    margin: 0 auto;
}

.bookmarkSection.show {
    right: 0; /* 화면 안 위치 */
}

.bookmarkToggleBtn {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
    position: relative;
    
}

.bookmarkToggleBtn:hover {
    background-color: #0056b3;
}
.bookmarkCloseBtn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 100%;
    text-align: center;
}

.bookmarkCloseBtn:hover {
    background-color: #cc0000;
}
.bookmarkSection {
    h3 {
        font-size: 30px;
        margin: 0 auto;
        padding-top: 150px;
    }
    .gArea {
        justify-content: center;
    }
    button {
        position: relative;
        z-index: 20;
    }
}

.bookmarkbtn {
    border: 0;
    background-color: #ffffff00;
    font-size: 20px;
    position: relative;
    top: -20px;
    left: 8px;
    padding: 5px;
}
.bookmarkbtn:hover {
    background-color: #5e5e5e8e;
}
