/* 인디케이터 */
.indic {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    /* 세로중앙이동 */
    left: 95%;
    width: 30px;
    /* outline: 3px dotted blue; */
    z-index: 19;
  }
  
  .indic li {
    width: 100%;
    height: 10px;
    margin: 10px 0;
    cursor: pointer;
    /* 손가락모양 */
  }
  
  /* a요소 */
  .indic a {
    display: block;
    width: 100%;
    height: 10px;
    margin-top: 4px;
    background-color: #a7a7a7;
    box-shadow: 2px 2px 2px #fff;
    transition: width 0.4s;
  }
  
  /* 마우스 오버시 */
  .indic li:hover a {
    width: 150%;
    background-color: #000;
  }
  
  /* 클래스 "on" */
  /* 모바일에서 hover시 해제한 설정보다 우선순위 높임! */
  .indic li.on a {
    width: 150% !important;
    background-color: #000 !important;
  }
  
  /* 설명글자숨기기 */
  .indic span {
    display: none;
  }


  #pg1{
    position: relative;
    z-index: 20;
  }