.firstitnro{
    position: relative;
    height: 100vh;
}
.mainV{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


.scroll-down-box{
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    // margin: 0 auto;
}
.scroll-icon{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}