.news-swbox{
    position: relative;
    height: 100vh;
}

.tit-box{
    // position: absolute;
    position: relative;
    top: 15%;
    display: flex;
}
.tit{
    font-size: 7vw;
    // display: flex;
    
}
.linktxtn{
    font-size: 1.3vw;
    color: black;
    text-decoration: none;
    font-weight: bold;
    // position: absolute;
    // display: flex;
    transition: .3s;
    left: 5%;
    position: relative;
}
