:root{
    --show-num:3;
}
.ul>li{
    flex-basis: calc(100% / var(--show-num) - 20px);
}
.categoryButtons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .searchingBox{
        left: -210px !important;
        
    }
    p{
        white-space: nowrap;
    }
}

.categoryButtons button{
    // position: absolute;
    width: max-content;
    height: 40px;
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid #e8ebf2;
    margin: 20px 5px;
}
.categoryButtons .active{
    background-color: #17191c;
    border: 1px solid #e8ebf2;
    
}
.categoryButtons .active p{
   color: #fff;
}
.nListSec{
    clear: both;
    position: relative;
    max-width: 1200px;
    padding-left: 200px;
    margin: 0 auto;
}
.nListSec>h2{
    height: 40px;
    font-size: 3rem;
    padding-top: 20px;
}
.filter{
    position: relative;
    padding: 20px 30px 3px;
    margin: 29px 24px 20px 0;
    background-color: #fff;
}


.nArea{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
    list-style: none;
    padding: 40px 0;
    
}
.nBox{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 300px;
    background-color: #fff;
    transition: all .15s linear;
    cursor: pointer;
    overflow: hidden;
}
.nBox:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.nBox:hover .gImg{
    scale: 1.2;
    transition: .3s linear;
}

.nListLink{
    text-decoration: none;
    color: #000;
}
.nlist {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nImg{
    position: relative;
    display: block;
    width: 302px;
    height: 200px;
    overflow: hidden;
    transition: .3s linear;
}
.nImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ntxtBox{
    position: relative;
    display: block;
    
    width: 302px;
    height: 100%;
    z-index: 20;
    // overflow: hidden;
    background-color: #fff;
}
.nName{
    position: relative;
    // display: block;
    width: 262px;
    padding-top: 10px;
    padding-right: 24px;
    height: 32px;
    margin: 0 auto;
    margin-bottom: 0px;
    word-wrap: break-word;
    font-size: 1.4rem;
    font-weight: bold;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}
.nCate{
    display: block;
    width: 262px;
    height: 20px;
    margin: 0px auto;
    padding-top: 10px;
    padding-right: 24px;
    color: #737881;
    letter-spacing: -.3px;
    white-space: nowrap;
    
    text-overflow: ellipsis;
    font-size: 1.3rem;
    z-index: 1;
}
.nDate{
    padding-right: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    font-size: 10px;
    margin-top: auto;
    z-index: 1;
}


@media screen and (max-width: 920px) {
    
    
    .searchingBox{
        display: none;
    }
    
    .bookmarkToggleBtn{
        display: none;
    }
    .mPeopleBox{
        h2{
            font-size: 70px;
        }
        .mplinktxtn{
            font-size: 20px;
        }
    }
    .mntit-box{
        h2{
            font-size: 70px;
        }
        .linktxtn{
            font-size: 20px;
        }
    }
}
@media screen and (max-width: 550px) {
        .nListSec {
    
    padding-left: 40px;
    .categoryButtons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        left: 30px;
    }
    
    }
}


@media screen and (max-width: 500px) {
    .nArea {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 40px 30px;
        list-style: none;
        padding: 40px 0;
        margin: 0 auto;
        left: 20px;
        
    }
    
}